body {
    background-color: aquamarine;
    color: blueviolet
}

nav {
    height: 550px;
    width: 200px;
    float: left;
    padding: 5 px;
    line-height: 30px;
}

footer{
text-align: center;
}

#memePic{
    margin-left: 200px;
}

#bodyText{
    margin-right: 200px;
}

header{
text-align: center;
}
